.navbar-menu {
    margin: 0 auto;
    padding: 14px;
    list-style: none;
    text-align: center;
    bottom: 41px;
}

.navbar-nav-item{
    display: inline-block;
    margin-right: 70px;
    Width: 59px;
    Height: 14px;

}

.navbar-nav-link {
    color: #16A085;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.img {
    margin: 0 auto;
    padding: 0;
    Width: 1280px;
    Height: 790px;
}
.title {
    margin: 28px;
    padding: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;


}

.main-text {
    margin: 0 auto;
    padding: 10px;
    Width: 1059px;
    font-size: 16;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.start-btn{
    width: 190px;
    display: block;
    height: 50px;
    background: #16A085;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 48px;
    color: white;
}

.copyright{
    margin: 0 auto;
    text-align: right;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 106px;

}
